<%= form_with(model: renting_phase, local: true) do |form| %>
  <%= render 'shared/error_messages', model: @renting_phase %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :renting_phase_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :renting_phase_end_date %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :renting_phase_price %>
  </div>

  <div class="field">
    <%= form.label :cycles %>
    <%= form.number_field :cycles, id: :renting_phase_cycles %>
  </div>

  <div class="field">
    <%= form.label :contract_id %>
    <%= form.text_field :contract_id, id: :renting_phase_contract_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
