<%= form_with(model: line_item, local: true) do |form| %>
  <%= render 'shared/error_messages', model: @line_item %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :line_item_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :line_item_end_date %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.number_field :unit_price, id: :line_item_unit_price %>
  </div>

  <div class="field">
    <%= form.label :units %>
    <%= form.number_field :units, id: :line_item_units %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total, id: :line_item_total %>
  </div>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id, id: :line_item_invoice_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
